dataset/
dataset_bkp/
__pycache__/
maskrcnn/__pycache__/
maskrcnn/dataset/
maskrcnn/dataset_bkp/
maskrcnn/dataset_bkp2/
dataset/
onnx_export/*.onnx
Original Data/
oring_crops/
oring_patches_640/
oring_linear_patches/
yolo_dataset/
yolo_dataset_split/
yolo_training/runs/
yolo_training/*.pt
*.pt
rework/*.csv
rework/*.json
binned/
Results/
oring-main/
*.csv